div #main {
}


table {
    border: 2px solid black;
    border-radius: 3px;
    width: 95%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

tr, thead{
    width: 100%;
}

th, td{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    min-width: 10%;
}

thead{
    font: bold 120% sans-serif;
}




