div #main {
}

div #rownames {
    font: bold 120% sans-serif;
}

div #table {
    display: block;
    display: table-row-group;
    border: 2px solid black;
    border-radius: 3px;
    width: 95%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

div .row {
    width: 100%;
    display: block;
    display: table-row;
}

div .cell {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    min-width: 10%;
    display: inline-block;
    display: table-cell;
}




