div #main {
}


table {
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

table table {
    border: none;
    width: 100%;
}

tr, thead{
    width: 100%;
}

th, td{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    min-width: 10%;
    max-width: 34%
}

thead{
    font: bold 120% sans-serif;
}




