$def with (json, predictionid)

$if predictionid != False:
    <form action="/settle" method="POST">
        Settle the bet:<br />
        <input type="hidden" name="predictionid" value="$predictionid">
        <input type="submit" name="truthvalue" value="True">
        <input type="submit" name="truthvalue" value="False">
        <input type="submit" name="truthvalue" value="None">
    </form>

$for key, value in json.items()
    $code:
        key = str(key)
        if key == "tags":
            value2 = [str(x) for x in value]
        else:
            value2 = str(value)
    $if key == "history":
        <br /><table style="width:100%">
            <tr><td>User</td><td>Bet</td><td>Time</td>
        $if json["settled"] == True:
            <td>Bits Assigned</tr>
        $for betdict in value:
            <tr><td>$betdict["signature"]</td>
            <td>$betdict["credence"]</td>
            <td>$(time.strftime("%m/%d/%y %H:%M",time.gmtime(int(betdict["timestamp"]))))</td>
            <td>
            $if "bits" in betdict.keys():
                $betdict["bits"]
            </td>
            </tr>
    $else:
        $(key): $(value2) <br />
        </table>
<br /></ br>

