$def with (content)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Magic Market</title>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <style>
            table, tr, td {
                border: 1px solid black;
                    }
                    tr,td {
                        padding: 5px;
                        }
        </style>
    </head>
<body>

        <nav><a href="/">Add a Bet</a><br />
            <a href = "/scores">Scores</a><br />
            <a href = "/lookup">Lookup ID</a><br />
            <a href = "/mass">All Predictions</a><br />
        </nav><br />
$:content

</body>
</html>
