$def with (massjson)

<table>
    <tr><td>Prediction ID</td>
        <td>Statement</td>
        <td>Result</td>
        <td>History</td>
        <td>Tags</td>
    </tr>
$for key, dictPredict in massjson.items():
    <tr><td>$str(key)</td>
        <td>$dictPredict["statement"]</td>
        <td>
            $if dictPredict["settled"] == True:
                $dictPredict["result"]
        </td>
        <td><table style="width:100%">
            <tr><td>User</td><td>Bet</td><td>Time</td>
            $if dictPredict["settled"] == True:
                <td>Bits Assigned</td>
        $for betdict in dictPredict["history"]:
            <tr><td>$betdict["signature"]</td>
                <td>$betdict["credence"]</td>
                <td>$(time.strftime("%m/%d/%y %H:%M",time.gmtime(int(betdict["timestamp"]))))</td>
            $if dictPredict["settled"] == True:
                $if "bits" in betdict.keys():
                    <td>
                        ${"%+.2f" % betdict["bits"]}
                    </td>
            </tr>
        </table></td>
        <td>
            $if "tags" in dictPredict.keys():
                $for tag in dictPredict["tags"]:
                    $(str(tag))<br />
        </td>
    </tr>
</table>


