$def with (massjsonarray)

<table>
    <form action="/mass" method="GET">
        <tr><td>Prediction ID<br />
                <button type="submit" name="sortkey" value="predictionid">Sort By</button>
                </td>
            <td>Statement<br />
                <button type="submit" name="sortkey" value="statement">Sort By</button>
                </td>
            <td>Result<br />
                <button type="submit" name="sortkey" value="result">Sort By</button>
                </td>
            <td>History<br />
                <button type="submit" name="sortkey" value="timestamp">Sort By</button>
                </td>
            <td>Tags</td>
        </tr>
$for predictionset in massjsonarray:
    <tr><td>$str(predictionset[0])</td>
        $code:
            dictPredict =  predictionset[1]
        <td>$dictPredict["statement"]</td>
        <td>
            $if dictPredict["settled"] == True:
                $dictPredict["result"]
        </td>
        <td><table style="width:100%">
            <tr><td>User</td><td>Bet</td><td>Time</td>
            $if dictPredict["settled"] == True:
                <td>Bits Assigned</td>
        $for betdict in dictPredict["history"]:
            <tr><td>$betdict["signature"]</td>
                <td>$betdict["credence"]</td>
                <td>$(time.strftime("%m/%d/%y %H:%M",time.gmtime(int(betdict["timestamp"]))))</td>
            $if dictPredict["settled"] == True:
                $if "bits" in betdict.keys():
                    <td>
                        ${"%+.2f" % betdict["bits"]}
                    </td>
            </tr>
        </table></td>
        <td>
            $if "tags" in dictPredict.keys():
                $for tag in dictPredict["tags"]:
                    $(str(tag))<br />
        </td>
    </tr>
</table>


